bs4
watchdog==2.1.9
rembg==2.0.50
pymatting
pooch
albumentations==1.4.3
opencv-python-headless>=4.9.0
open-clip-torch==2.24.0
scikit-learn-intelex
numpy<2.0.0,>=1.0.0
thinc
openai-clip
protobuf<5,>=4.25.3
inference==0.45.1
onnxruntime<1.20.0,>=1.15.1
picologging
diffusers<0.32.0,>=0.31.0
fvcore
mediapipe
opencv-python>=4.8.0
svglib
addict
yapf
matplotlib
facexlib
timm<=0.9.5
pydantic<=1.10.17
controlnet_aux>=0.0.9
pillow
scipy
blendmodes
pixeloe>=0.1.4
dynamicprompts
pytest
send2trash
bitsandbytes>=0.45.2
accelerate>=0.21.0
dadaptation>=3.2
diffusers>=0.32.2
discord-webhook==1.3.1
fastapi
gitpython>=3.1.32
pytorch_optimizer==3.4.0
transformers>=4.48.3
tqdm
tomesd>=0.1.3
